.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 56px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.authenticated-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.authenticated-menu button {
    border-radius: 15%;
    padding: 10px 5px 10px 5px;
}
