<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- RowNum Column -->
    <ng-container matColumnDef="rowNumber">
      <th mat-header-cell *matHeaderCellDef>Linha</th>
      <td mat-cell *matCellDef="let row; let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Carta</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

     <!-- Elemento Column -->
    <ng-container matColumnDef="elemento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Elemento</th>
      <td mat-cell *matCellDef="let row">{{row.elemento}}</td>
    </ng-container>

    <!-- Tipo Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
    </ng-container>

    <!-- PoderFogo Column -->
    <ng-container matColumnDef="poderFogo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poder de Fogo</th>
      <td mat-cell *matCellDef="let row">{{row.poderFogo}}</td>
    </ng-container>

    <!-- PoderAgua Column -->
    <ng-container matColumnDef="poderAgua">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poder de Água</th>
      <td mat-cell *matCellDef="let row">{{row.poderAgua}}</td>
    </ng-container>

     <!-- PoderTerra Column -->
     <ng-container matColumnDef="poderTerra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poder de Terra</th>
      <td mat-cell *matCellDef="let row">{{row.poderTerra}}</td>
    </ng-container>

     <!-- PoderAr Column -->
     <ng-container matColumnDef="poderAr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poder de Ar</th>
      <td mat-cell *matCellDef="let row">{{row.poderAr}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
          <a routerLink="/cards/update/{{row.id}}" class="edit">
              <i class="material-icons">
                  edit
              </i>
          </a>
          <a routerLink="/cards/delete/{{row.id}}" class="delete">
              <i class="material-icons delete">
                  delete
              </i>
          </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
