<mat-card>
    <mat-card-title>
        Alterar Carta
    </mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder = "Nome" [(ngModel)]="card.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Elemento" [(ngModel)]="card.elemento" name="elemento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Tipo" [(ngModel)]="card.tipo" name="tipo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Poder de Fogo" [(ngModel)]="card.poderFogo" name="poderFogo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Poder de Água" [(ngModel)]="card.poderAgua" name="poderAgua">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Poder de Terra" [(ngModel)]="card.poderTerra" name="poderTerra">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder = "Poder de Ar" [(ngModel)]="card.poderAr" name="poderAr">
        </mat-form-field>
    </form>
</mat-card>        
<button mat-raised-button (click)="updateCard()" color="primary">
    Atualizar
</button>

<button mat-raised-button (click)="cancelCard()">
    Cancelar
</button>
